name: GPU Tests

on:
  schedule:
  - cron: 00 00 * * 1
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  gpu-tests:
    name: Fast GPU tests Python 3.10 on ubuntu-22.04
    runs-on: [self-hosted, ott-gpu]
    container:
      image: docker://michalk8/cuda:12.3.2-cudnn9-devel-ubuntu22.04
      options: --gpus="device=2"
    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install -e".[test]"
        python3 -m pip install "jax[cuda12]"

    - name: Run nvidia-smi
      run: |
        nvidia-smi

    - name: Run tests
      run: |
        python3 -m pytest -m "fast and not cpu" --memray --durations 10 -vv
      env:
        XLA_PYTHON_CLIENT_PREALLOCATE: 'false'
