name: lint

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  lint:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: [3.9]
        os: [ubuntu-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}

    - uses: actions/cache@v2
      with:
        path: ~/.cache/pre-commit
        key: precommit-${{ env.pythonLocation }}-${{ hashFiles('**/.pre-commit-config.yaml') }}

    - name: Install pip dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pre-commit

    - name: Lint
      run: |
        pre-commit run --all-files --show-diff-on-failure
