name: tests

on:
  schedule:
  - cron: 00 00 * * 1
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build-and-test:
    name: Python ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.8]
        os: [ubuntu-latest]
        test_mark: [fast, all]

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'

    - name: Install dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt install libsuitesparse-dev

    - name: Build
      run: |
        set -xe
        python -VV
        pip install --upgrade pip
        pip install pytest-memray
        pip install -e '.[test,experimental]'

    - name: Print versions
      run: |
        python -VV
        python -c "import jax; print('jax==', jax.__version__)"
        python -c "import jaxlib; print('jaxlib==', jaxlib.__version__)"

    - name: Run fast tests
      if: ${{ matrix.test_mark == 'fast' }}
      run: |
        python -m pytest --cov=ott --cov-append --cov-report=xml --cov-report=term-missing --cov-config=pyproject.toml --memray -m fast -n auto

    - name: Run all tests
      if: ${{ matrix.test_mark == 'all' }}
      run: |
        python -m pytest --cov=ott --cov-append --cov-report=xml --cov-report=term-missing --cov-config=pyproject.toml --memray

    - name: Upload coverage
      uses: codecov/codecov-action@v3
      with:
        files: ./coverage.xml
        flags: tests-${{ matrix.test_mark }}
        name: unittests
        env_vars: OS,PYTHON
        fail_ci_if_error: false
        verbose: true
